# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/

# Logs
*.log

# Byte-compiled files
*.pyc
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/